<div class="container">
  <h3>Cocktail name: <%= @cocktail.name %></h3>
  <% @cocktail.doses.each do |dose| %>
  <p>Ingredient: <%= dose.ingredient.name  %></p>
  <p>Dose: <%= dose.description %></p>
  <%= link_to "Delete dose", dose_path(dose), options = {method: :delete, data: { confirm: "Are you sure?" }} %>

  <% end %>
  <%= link_to "Back to cocktails", cocktails_path, class: "btn btn-light" %>
  <%= link_to "Add a new dose", new_cocktail_dose_path(@cocktail), class: "btn btn-light" %>

</div>
