<div class="container">

  <h3><%= @cocktail.name %></h3>
  <% @cocktail.doses.each do |dose| %>
    <p>Ingredient: <%= dose.ingredient.name  %></p>
    <p>
      <%= link_to '<i class="fas fa-trash-alt"></i>'.html_safe, dose_path(dose), options = {method: :delete, data: { confirm: "Are you sure?" }} %>
      Dose: <%= dose.description %>
    </p>
  <% end %>
  <% if @cocktail.photo.attached? %>
     <div class="cocktails_img"><%= cl_image_tag @cocktail.photo.key %></div>
  <% end %>
  <div><%= link_to "Back to cocktails", root_path, class: "btn btn-flat", id: "button" %> </div>
  <div><%= link_to "Add a new dose", new_cocktail_dose_path(@cocktail), class: "btn btn-flat", id: "button" %></div>

</div>
